@model ThemeModelView;

<h1 class="glow">Themes</h1>


<h1 class="glow">Birthday</h1>
<div class="container-fluid style="position: sticky;"">
    <form asp-controller="Theme" asp-action="getTheme" method="post" role="form">
        <div class="border rounded-left border-primary" style="position: sticky;">
            <div class="row">
                <div class="col-sm-2 col-md-3 col-lg-3 row align-items-center justify-content-center">
                    <input class="big" asp-for="getTheme" type="radio" value="Birthday1" checked="checked" />
                    <img class="" src="https://www.fineinvitepapers.com/image.asp?image=images/CS196-01.png&w=225" alt="" />
                    <div class="text-center">
                        <p style="font-size:1rem">Supplies</p>
                        <p style="font-size:1rem">Stamps:</p>
                        <p style="font-size:1rem">Inks:</p>
                        <p style="font-size:1rem">Watercolours:</p>
                        <p style="font-size:1rem">Cardstock:</p>
                    </div>
                </div>
                <div class="border-left  rounded-left border-primary"style="position: sticky;"></div>
                <div class="col-sm-2 col-md-3 col-lg-3 row align-items-center justify-content-center">
                    <input class="big" asp-for="getTheme" type="radio" value="Birthday2" checked="checked" />
                    <img class="" src="https://www.fineinvitepapers.com/image.asp?image=images/CS196-01.png&w=225" alt="" />
                    <div class="text-center">
                        <p style="font-size:1rem">Supplies</p>
                        <p style="font-size:1rem">Stamps:</p>
                        <p style="font-size:1rem">Inks:</p>
                        <p style="font-size:1rem">Watercolours:</p>
                        <p style="font-size:1rem">Cardstock:</p>
                    </div>
                </div>
                <div class="border-left  rounded-left border-primary"style="position: sticky;"></div>
                <div class="col-sm-2 col-md-3 col-lg-3 row align-items-center justify-content-center">
                    <input class="big" asp-for="getTheme" type="radio" value="Birthday3" checked="checked" />
                    <img class="" src="https://www.fineinvitepapers.com/image.asp?image=images/CS196-01.png&w=225" alt="" />
                    <div class="text-center">
                        <p style="font-size:1rem">Supplies</p>
                        <p style="font-size:1rem">Stamps:</p>
                        <p style="font-size:1rem">Inks:</p>
                        <p style="font-size:1rem">Watercolours:</p>
                        <p style="font-size:1rem">Cardstock:</p>
                    </div>
                </div>
                <div class="border-left  rounded-left border-primary"style="position: sticky;"></div>
                <div class="col-sm-2 col-md-3 col-lg-3 row align-items-center justify-content-center">
                    <input class="big" asp-for="getTheme" type="radio" value="Birthday4" checked="checked" />
                    <img class="" src="https://www.fineinvitepapers.com/image.asp?image=images/CS196-01.png&w=225" alt="" />
                    <div class="text-center">
                        <p style="font-size:1rem">Supplies</p>
                        <p style="font-size:1rem">Stamps:</p>
                        <p style="font-size:1rem">Inks:</p>
                        <p style="font-size:1rem">Watercolours:</p>
                        <p style="font-size:1rem">Cardstock:</p>
                    </div>
                </div>
            </div>
        </div>

        <h1 class="glow">Valentines Day</h1>
        <div class="border rounded-left border-primary  "style="position: sticky;">
            <div class="row">
                <div class="col-sm-2 col-md-3 col-lg-3 row align-items-center justify-content-center">
                    <input class="big" asp-for="getTheme" type="radio" value="Valentines1" checked="checked" />
                    <img class="" src="https://www.fineinvitepapers.com/image.asp?image=images/CS196-01.png&w=225" alt="" />
                    <div class="text-center">
                        <p style="font-size:1rem">Supplies</p>
                        <p style="font-size:1rem">Stamps:</p>
                        <p style="font-size:1rem">Inks:</p>
                        <p style="font-size:1rem">Watercolours:</p>
                        <p style="font-size:1rem">Cardstock:</p>
                    </div>
                </div>
                <div class="border-left  rounded-left border-primary"></div>
                <div class="col-sm-2 col-md-3 col-lg-3 row align-items-center justify-content-center">
                    <input class="big" asp-for="getTheme" type="radio" value="Valentines2" checked="checked" />
                    <img class="" src="https://www.fineinvitepapers.com/image.asp?image=images/CS196-01.png&w=225" alt="" />
                    <div class="text-center">
                        <p style="font-size:1rem">Supplies</p>
                        <p style="font-size:1rem">Stamps:</p>
                        <p style="font-size:1rem">Inks:</p>
                        <p style="font-size:1rem">Watercolours:</p>
                        <p style="font-size:1rem">Cardstock:</p>
                    </div>
                </div>
                <div class="border-left  rounded-left border-primary"></div>
                <div class="col-sm-2 col-md-3 col-lg-3 row align-items-center justify-content-center">
                    <input class="big" asp-for="getTheme" type="radio" value="Valentines3" checked="checked" />
                    <img class="" src="https://www.fineinvitepapers.com/image.asp?image=images/CS196-01.png&w=225" alt="" />
                    <div class="text-center">
                        <p style="font-size:1rem">Supplies</p>
                        <p style="font-size:1rem">Stamps:</p>
                        <p style="font-size:1rem">Inks:</p>
                        <p style="font-size:1rem">Watercolours:</p>
                        <p style="font-size:1rem">Cardstock:</p>
                    </div>
                </div>
                <div class="border-left  rounded-left border-primary"></div>
                <div class="col-sm-2 col-md-3 col-lg-3 row align-items-center justify-content-center">
                    <input class="big" asp-for="getTheme" type="radio" value="Valentines4" checked="checked" />
                    <img class="" src="https://www.fineinvitepapers.com/image.asp?image=images/CS196-01.png&w=225" alt="" />
                    <div class="text-center">
                        <p style="font-size:1rem">Supplies</p>
                        <p style="font-size:1rem">Stamps:</p>
                        <p style="font-size:1rem">Inks:</p>
                        <p style="font-size:1rem">Watercolours:</p>
                        <p style="font-size:1rem">Cardstock:</p>
                    </div>
                </div>
            </div>
        </div>

        <h1 class="glow">Christmas</h1>
        <div class="border rounded-left border-primary "style="position: sticky;">
            <div class="row">
                <div class="col-sm-2 col-md-3 col-lg-3 row align-items-center justify-content-center">
                    <input class="big" asp-for="getTheme" type="radio" value="Christmas1" checked="checked" />
                    <img class="" src="https://www.fineinvitepapers.com/image.asp?image=images/CS196-01.png&w=225" alt="" />
                    <div class="text-center">
                        <p style="font-size:1rem">Supplies</p>
                        <p style="font-size:1rem">Stamps:</p>
                        <p style="font-size:1rem">Inks:</p>
                        <p style="font-size:1rem">Watercolours:</p>
                        <p style="font-size:1rem">Cardstock:</p>
                    </div>
                </div>
                <div class="border-left  rounded-left border-primary"></div>
                <div class="col-sm-2 col-md-3 col-lg-3 row align-items-center justify-content-center">
                    <input class="big" asp-for="getTheme" type="radio" value="Christmas2" checked="checked" />
                    <img class="" src="https://www.fineinvitepapers.com/image.asp?image=images/CS196-01.png&w=225" alt="" />
                    <div class="text-center">
                        <p style="font-size:1rem">Supplies</p>
                        <p style="font-size:1rem">Stamps:</p>
                        <p style="font-size:1rem">Inks:</p>
                        <p style="font-size:1rem">Watercolours:</p>
                        <p style="font-size:1rem">Cardstock:</p>
                    </div>
                </div>
                <div class="border-left  rounded-left border-primary"></div>
                <div class="col-sm-2 col-md-3 col-lg-3 row align-items-center justify-content-center">
                    <input class="big" asp-for="getTheme" type="radio" value="Christmas3" checked="checked" />
                    <img class="" src="https://www.fineinvitepapers.com/image.asp?image=images/CS196-01.png&w=225" alt="" />
                    <div class="text-center">
                        <p style="font-size:1rem">Supplies</p>
                        <p style="font-size:1rem">Stamps:</p>
                        <p style="font-size:1rem">Inks:</p>
                        <p style="font-size:1rem">Watercolours:</p>
                        <p style="font-size:1rem">Cardstock:</p>
                    </div>
                </div>
                <div class="border-left  rounded-left border-primary"></div>
                <div class="col-sm-2 col-md-3 col-lg-3 row align-items-center justify-content-center">
                    <input class="big" asp-for="getTheme" type="radio" value="Christmas4" checked="checked" />
                    <img class="" src="https://www.fineinvitepapers.com/image.asp?image=images/CS196-01.png&w=225" alt="" />
                    <div class="text-center">
                        <p style="font-size:1rem">Supplies</p>
                        <p style="font-size:1rem">Stamps:</p>
                        <p style="font-size:1rem">Inks:</p>
                        <p style="font-size:1rem">Watercolours:</p>
                        <p style="font-size:1rem">Cardstock:</p>
                    </div>
                </div>
            </div>
        </div>

        <h1 class="glow">Thank You</h1>
        <div class="border rounded-left border-primary "style="position: sticky;">
            <div class="row">
                <div class="col-sm-2 col-md-3 col-lg-3 row align-items-center justify-content-center">
                    <input class="big" asp-for="getTheme" type="radio" value="Thank1" checked="checked" />
                    <img class="" src="https://www.fineinvitepapers.com/image.asp?image=images/CS196-01.png&w=225" alt="" />
                    <div class="text-center">
                        <p style="font-size:1rem">Supplies</p>
                        <p style="font-size:1rem">Stamps:</p>
                        <p style="font-size:1rem">Inks:</p>
                        <p style="font-size:1rem">Watercolours:</p>
                        <p style="font-size:1rem">Cardstock:</p>
                    </div>
                </div>
                <div class="border-left  rounded-left border-primary"></div>
                <div class="col-sm-2 col-md-3 col-lg-3 row align-items-center justify-content-center">
                    <input class="big" asp-for="getTheme" type="radio" value="Thank2" checked="checked" />
                    <img class="" src="https://www.fineinvitepapers.com/image.asp?image=images/CS196-01.png&w=225" alt="" />
                    <div class="text-center">
                        <p style="font-size:1rem">Supplies</p>
                        <p style="font-size:1rem">Stamps:</p>
                        <p style="font-size:1rem">Inks:</p>
                        <p style="font-size:1rem">Watercolours:</p>
                        <p style="font-size:1rem">Cardstock:</p>
                    </div>
                </div>
                <div class="border-left  rounded-left border-primary"></div>
                <div class="col-sm-2 col-md-3 col-lg-3 row align-items-center justify-content-center">
                    <input class="big" asp-for="getTheme" type="radio" value="Thank3" checked="checked" />
                    <img class="" src="https://www.fineinvitepapers.com/image.asp?image=images/CS196-01.png&w=225" alt="" />
                    <div class="text-center">
                        <p style="font-size:1rem">Supplies</p>
                        <p style="font-size:1rem">Stamps:</p>
                        <p style="font-size:1rem">Inks:</p>
                        <p style="font-size:1rem">Watercolours:</p>
                        <p style="font-size:1rem">Cardstock:</p>
                    </div>
                </div>
                <div class="border-left  rounded-left border-primary"></div>
                <div class="col-sm-2 col-md-3 col-lg-3 row align-items-center justify-content-center">
                    <input class="big" asp-for="getTheme" type="radio" value="Thank4" checked="checked" />
                    <img class="" src="https://www.fineinvitepapers.com/image.asp?image=images/CS196-01.png&w=225" alt="" />
                    <div class="text-center">
                        <p style="font-size:1rem">Supplies</p>
                        <p style="font-size:1rem">Stamps:</p>
                        <p style="font-size:1rem">Inks:</p>
                        <p style="font-size:1rem">Watercolours:</p>
                        <p style="font-size:1rem">Cardstock:</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col text-center">
            <input type="submit" class="btn btn-primary" value="Next" />
        </div>
    </form>
</div>